<app-account-purchase-stripe
(changeSelectedAccount)="onChangeSelectedAccount($event)"
(checkoutToggle)="onToggleCheckoutFlag()"
[currency]='currency$ | async'
[activeTranslationHandler]='facade.activeTranslation$ | async'
[accountsLoading]='facade.accountsLoading$ | async'
[accountsLoadingErr]='facade.accountsLoadingErr$ | async'
(changeOrderQuantity)="onChangeOrderQuantity($event)"
[accounts]='accountsExtended$ | async'></app-account-purchase-stripe>

<app-checkout-dialog
[coupons]='coupons$ | async'
[country]='country$ | async'
[selectedAccount]='selectedAccount'
[activeTranslationHandler]='facade.activeTranslation$ | async'
[regions]='regions$ | async'
(changeOrderQuantity)="onChangeOrderQuantity($event)"
[selRegion]='selRegion$ | async'
*ngIf="showCheckoutFlag"
[currency]='currency$ | async'
(checkoutToggle)='onToggleCheckoutFlag()'></app-checkout-dialog>
