<section class="reviews">
  <div class="btns-wrapper">
    <div class="reviews-sort">
      <small>SORT BY</small>

      <p>{{activeSortingOption}}
        <img src="assets/img/icons/chevron-down-solid.svg" class="icon icon--expand" alt="">
      </p>

      <ul>
        <li 
        *ngFor="let sortingOption of remainingSortingOptions; 
        let i = index" 
        (click)="onChangeSortingOption(i); sort(sortingOption)"
        >{{sortingOption}}</li>
      </ul>
    </div>

    <button (click)='onToggleAddReviewForm()'>
      WRITE A REVIEW
      <img src="assets/img/icons/pencil-alt-solid.svg" class="icon icon--pen" alt="">
    </button>
  </div>

  <app-loader-spinner *ngIf="reviewsLoading"></app-loader-spinner>

  <ng-container *ngIf="reviewsLoadingErr">
    <p class="noInfo">
      Couldn't retrieve reviews data from server.
    </p>
  </ng-container>


  <ng-container *ngIf="sortedReviews.length == 0 && !reviewsLoading && !reviewsLoadingErr">
    <p class="noInfo">
      No reviews.
    </p>
  </ng-container>
  
  <ng-container *ngIf="sortedReviews.length != 0">
    <div class="reviews-wrapper">
      <div *ngFor="let review of sortedReviews" class="review">
        <div class="review_header">
          <img [src]="review.flag" alt="flag">
          <span class="reviewer-name">{{review.author}}</span>
          <span class="review-rating" [innerHTML]='starsMap[review.stars]'></span>
        </div>
        <div class="review_content">
          {{review.tekst}}
        </div>
        <small class="review-date-added">{{review.updated_at || review.created_at}}</small>
      </div>
    </div>
  </ng-container>

</section>
