
  <section class="perks">

    <div class="perks-wrapper">

      <div class="perk">

        <img src="assets/img/3d.svg" alt="perk">

        <article>

          <h3>
            {{activeTranslation.homepage.perksList[0][0].h}}
          </h3>

          <p>{{activeTranslation.homepage.perksList[0][0].des}}</p>

        </article>

      </div>

      <div class="perk-separator"></div>

      <div class="perk">

        <img src="assets/img/talk.svg" alt="perk">

        <article>

          <h3>
            {{activeTranslation.homepage.perksList[0][1].h}}
          </h3>

          <p>{{activeTranslation.homepage.perksList[0][1].des}}</p>

        </article>

      </div>

      <div class="perk-separator"></div>

      <div class="perk">

      <img src="assets/img/authentication.svg" alt="perk">

        <article>

          <h3>{{activeTranslation.homepage.perksList[0][2].h}}</h3>

          <p>{{activeTranslation.homepage.perksList[0][2].des}}</p>

        </article>

      </div>

    <div class="perk">

      <div class="content">
      <img src="assets/img/delivery.svg" alt="perk">

      <article>

        <h3>{{activeTranslation.homepage.perksList[1][0].h}}</h3>

        <p>{{activeTranslation.homepage.perksList[1][0].des}}</p>

      </article>
      </div>

    </div>

    <div class="perk-separator"></div>

    <div class="perk">

    <div class="content">
      <img src="assets/img/bar-graph.svg" alt="perk">

      <article>

        <h3>{{activeTranslation.homepage.perksList[1][1].h}}</h3>

        <p>{{activeTranslation.homepage.perksList[1][1].des}}</p>

      </article>
    </div>

    </div>

    <div class="perk-separator"></div>

    <div class="perk">

      <div class="content">
      <img src="assets/img/key.svg" alt="perk">

      <article>

        <h3>{{activeTranslation.homepage.perksList[1][2].h}}</h3>

        <p>{{activeTranslation.homepage.perksList[1][2].des}}</p>

      </article>
      </div>

    </div>

  </div>

</section>
