
  <section class="perks">

    <div class="perks-wrapper">

      <div class="perk">

        <img src="assets/img/3d.svg" alt="perk">

        <article>

          <h3>
            10000+ sold accounts
          </h3>

          <p>We’ve been in business for years, we know how to keep you satisfied</p>

        </article>

      </div>

      <div class="perk-separator"></div>

      <div class="perk">

        <img src="assets/img/talk.svg" alt="perk">

        <article>

          <h3>
            World-class support
          </h3>

          <p>You can get witch us vis discord, live chat or email. Message us at any time you want</p>

        </article>

      </div>

      <div class="perk-separator"></div>

      <div class="perk">

      <img src="assets/img/authentication.svg" alt="perk">

        <article>

          <h3>Lifetime warranty
          </h3>

          <p>All of our accounts have lifetime warranty. If something happens to your account, don’t worry you’re covered by our warranty.</p>

        </article>

      </div>

    <div class="perk">

      <div class="content">
      <img src="assets/img/delivery.svg" alt="perk">

      <article>

        <h3>Instant delivery
        </h3>

        <p>Account will be instantly delivered on the website and via e-mail. Our automated system work 24/7, every day of the year.</p>

      </article>
      </div>

    </div>

    <div class="perk-separator"></div>

    <div class="perk">

    <div class="content">
      <img src="assets/img/bar-graph.svg" alt="perk">

      <article>

        <h3>Ranked ready
        </h3>

        <p>Sufficient Blue Essence to purchase 25-45 champions and level 30+ allows you to start playing ranked games immediately.</p>

      </article>
    </div>

    </div>

    <div class="perk-separator"></div>

    <div class="perk">

      <div class="content">
      <img src="assets/img/key.svg" alt="perk">

      <article>

        <h3>Full access
        </h3>

        <p>You will be able to change both e-mail and password of the account. You will be the first and only owner of the account!</p>

      </article>
      </div>

    </div>

  </div>

</section>
