$lightGray: #F4F4F7;
$lightGray2: #F4F4F4;
$lightGray3: #E1E1E1;
$lightGray4: #E5E5E5;
$gray: #7C7C7C;
$gray2: #8F8F8F;
$darkGray:#6E6E6E;
$darkGray2:#848484;
$darkGray3:#858CA5;

$blackish: #1A1A1A;

$blue: #284FD1;

$yellow: #F5D213;