<app-nav
    [activeClass]='homepageUrl'
    [scrollActiveNavNoMatterWhat]='scrollActiveNavNoMatterWhat'
    [activeClassScroll]='scrollStyles'
    (currencyChange)='onCurrencyChange($event)'
    [activeTranslationHandler]="facade.activeTranslation$ | async"
    [currencySetHandler]="facade.currency$ | async"
    [currencyLoadingErr]="facade.currencyLoadingErr$ | async"
    [currencyLoading]="facade.currencyLoading$ | async">
</app-nav>
<router-outlet></router-outlet>
<app-payment-method-stripe></app-payment-method-stripe>
<app-cookie-consent-bar
    *ngIf="showCookiesBar"
    [activeTranslationHandler]="facade.activeTranslation$ | async"
    (dismissCookiesBarAndSetCookie)="setCookiesConsentCookie()">
</app-cookie-consent-bar>
<app-footer [activeTranslationHandler]="facade.activeTranslation$ | async"></app-footer>
