<section class="accounts_faq">
  <div class="accounts_faq-wrapper">
    <article>
      <h2>Will the account be mine?</h2>
      <p>Yes of course! You will get Complete Access to the account and you will be able to change both e-mail and password of the account (account are unverified).</p>
    </article>

    <article>
      <h2>Is it safe?</h2>
      <p>Yes, as safe as possible. We do not believe costumers should be risking their money when purchasing online so all our accounts are covered with a Lifetime Warranty.</p>
    </article>

    <article>
      <h2>Is the delivery really instant?</h2>
      <p>Yes, you will see full account information once your payment is completed. Right here, on our website there is no need to dig an e-mail which will be send as well.</p>
    </article>

    <article>
      <h2>How can I get in touch with you?</h2>
      <p>There is plenty of ways! We definitely recommend to contact us using discord Petro#1468 or Luka#5403. Alternatively, you can hit us up via Live Chat or e-mail: contact@abc-league.com.</p>
    </article>
  </div>

</section>
