<header class="hero">
  <article class="hero_article">
      <h1>{{activeTranslation.homepage.hero.hArr[0]}} <br> {{activeTranslation.homepage.hero.hArr[1]}}</h1>
      <p> {{activeTranslation.homepage.hero.s}} </p>
      <button (click)='navigateAndScrollToAccounts()' type="button"> {{activeTranslation.homepage.hero.btn}} <span class="fa fa-long-arrow-right"></span>
        <img src="assets/img/icons/long-arrow-alt-right-solid.svg" alt="" class="icon icon--arrow-right">
      </button>
  </article>

  <div class="hero_reviews">
      <div (click)="navigateAndScrollToReviews()">
        <span [innerHTML]="stars"></span>
        <ng-container *ngIf="reviewsNum"><span class="reviews_count">{{reviewsNum}} reviews</span></ng-container>
        <ng-container *ngIf="reviewsAvgRatingLoading"> <app-loader-dots></app-loader-dots> </ng-container>
        <ng-container *ngIf="reviewsAvgRatingLoadingErr">
          <p class="alert-text" style="display: inline-block; text-indent: .7rem; text-shadow: 0 1px 2px #111;">{{activeTranslation.homepage.hero.errorLoadingReviews}}</p> </ng-container>
      </div>
  </div>
</header>
