<section class="tos">

    <dl class="tos_dl">
        <h3>
            {{activeTranslation.tos.REFUNDSnREPLACEMENTS.h}} <br>
            <small>{{activeTranslation.tos.LastUpdated}} 17.07.2020</small>
        </h3>
        <dt>
          {{activeTranslation.tos.REFUNDSnREPLACEMENTS.REFUNDPOLICY.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.REFUNDSnREPLACEMENTS.REFUNDPOLICY.des}}
        </dd>

        <dt class="privacy-policy">
          {{activeTranslation.tos.REFUNDSnREPLACEMENTS.CANCELLATION.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.REFUNDSnREPLACEMENTS.CANCELLATION.des}}
        </dd>

        <h3>
          {{activeTranslation.tos.PRIVACYPOLICY.h}} <br>
            <small>
              {{activeTranslation.tos.LastUpdated}} 17.07.2020
            </small>
        </h3>

        <dt>
          {{activeTranslation.tos.PRIVACYPOLICY.COOKIES.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.PRIVACYPOLICY.COOKIES.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.PRIVACYPOLICY.PERSONALINFORMATION.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.PRIVACYPOLICY.PERSONALINFORMATION.des}}
        </dd>

        <h3>
          {{activeTranslation.tos.TERMSANDCONDITIONS.h}} <br>
            <small>
              {{activeTranslation.tos.LastUpdated}} 17.07.2020
            </small>
        </h3>

        <dt>
          {{activeTranslation.tos.TERMSANDCONDITIONS.GENERAL.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.TERMSANDCONDITIONS.GENERAL.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.TERMSANDCONDITIONS.OURCONTENT.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.TERMSANDCONDITIONS.OURCONTENT.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.TERMSANDCONDITIONS.SITEMANAGEMENT.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.TERMSANDCONDITIONS.SITEMANAGEMENT.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.TERMSANDCONDITIONS.COMPLAINTS.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.TERMSANDCONDITIONS.COMPLAINTS.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.TERMSANDCONDITIONS.DISCLAIMERLIMITATIONOFLIABILITY.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.TERMSANDCONDITIONS.DISCLAIMERLIMITATIONOFLIABILITY.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.TERMSANDCONDITIONS.TERMANDTERMINATION.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.TERMSANDCONDITIONS.TERMANDTERMINATION.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.TERMSANDCONDITIONS.contact}}
        </dt>

        <dd class="tos_contact-dd">
            E-mail: office@accounts4life.com <br>
            Discord: Luka#5403 <br>
            L&P International Spółka z.o.o Poland, Katowice, 3 Maja 22/2c 40-096, Poland
        </dd>

    </dl>

</section>
