<footer class="homepage-footer">

  <ul class="footer-content-wrapper">

    <div class="columns-wrapper">
      <div class="logo-column">

        <figure>
          <img src="assets/img/logo.webp" alt="icon" />
          <figcaption>
            {{activeTranslation.footer.figcaption}}
          </figcaption>
        </figure>

      </div>

      <div #faqColumn class="faq-column">
        <h3>{{activeTranslation.footer.faq.h}}</h3>
        <dl>

          <ul>

            <li>
              <dt class="trigger">{{activeTranslation.footer.faq.dl[0].dt}}</dt>
              <dd>{{activeTranslation.footer.faq.dl[0].dd}}</dd>
            </li>
            <li>
              <dt class="trigger">{{activeTranslation.footer.faq.dl[1].dt}}</dt>
              <dd>{{activeTranslation.footer.faq.dl[1].dd}}</dd>
            </li>
            <li>
              <dt class="trigger">{{activeTranslation.footer.faq.dl[2].dt}}</dt>
              <dd>{{activeTranslation.footer.faq.dl[2].dd}}</dd>
            </li>
            <li>
              <dt class="trigger">{{activeTranslation.footer.faq.dl[3].dt}}</dt>
              <dd>{{activeTranslation.footer.faq.dl[3].dd}}</dd>
            </li>
            <li>
              <dt class="trigger">{{activeTranslation.footer.faq.dl[4].dt}}</dt>
              <dd>{{activeTranslation.footer.faq.dl[4].dd}}</dd>
            </li>

          </ul>

        </dl>

      </div>
    </div>

    <div #linksCol class="links-lists-column">
      <ul>
        <li  (click)="navigateAndScrollToReviews()"> {{activeTranslation.footer.linkLists[0][0].t}} </li>

          <li (click)="navigateToRoute('/')">
            {{activeTranslation.footer.linkLists[0][1].t}} </li>

            <li (click)="navigateToRoute('/terms-and-conditions')"> {{activeTranslation.footer.linkLists[0][2].t}} </li>

            <li (click)="navigateAndScrollToPrivacyPolicy()"> {{activeTranslation.footer.linkLists[0][3].t}} </li>
      </ul>

      <ul>

        <li (click)="navigateAndScrollToAccounts()"> {{activeTranslation.footer.linkLists[1][0].t}} </li>
        <li class="trigger trigger--height-l"> {{activeTranslation.footer.linkLists[1][1].t}} <br>
          <ul class="expendable-list">
            <li>{{activeTranslation.footer.linkLists[1][1].subText}}</li>
          </ul>
        </li>

        <li>{{activeTranslation.footer.linkLists[1][2].t}} </li>

        <li class="trigger trigger--height-l">{{activeTranslation.footer.linkLists[1][3].t}} <br>
          <ul class="expendable-list">
            <li>{{activeTranslation.footer.linkLists[1][3].link}}</li>
          </ul>
        </li>

      </ul>

    </div>

  </ul>

</footer>
