<div class="popup-overlay"></div>
<app-loader-spinner *ngIf="showLoader && !showPopup" [fixedLoader]="true"></app-loader-spinner>

<app-notification-popup [content]="errPopupMsg" *ngIf="showErrPopup" (toggleNotificationDisplay)="showErrPopup = false; errPopupMsg = '';">

</app-notification-popup>

<div #popup class="checkout-dialog">
  <p class="checkout-dialog_top-text">{{activeTranslation.checkout.checkOut}}
    <img (click)="hideFormAndToggleDisplayAfter()" src="assets/img/icons/times-solid.svg" class="icon icon--close" alt="close">
  </p>

  <ul class="checkout-dialog_products-list">

    <li>
      <div class="checkout-dialog_products-list_li-top">
        <div>
          <img src="assets/img/3d.svg" alt="box">
          <b>{{selRegion.name}} {{selAccount.name | uppercase}} </b>
        </div>

        <div class="account_quantity-times">
          <button [ngClass]="[selAccount.orderQty == 1 ? 'deactivated' : '']"
            (click)='onChangeOrderQuantity(-1, -1)'>-</button>
          {{selAccount.orderQty}}
          <button [ngClass]="[selAccount.count == selAccount.orderQty ? 'deactivated' : '']"
            (click)='onChangeOrderQuantity(1, -1)'>+</button>
        </div>
      </div>

      <small>{{activeTranslation.checkout.promoText}}</small>
    </li>

  </ul>

  <div class="checkout-dialog_hr"></div>

  <div class="checkout-dialog_order-summary">

    <div class="total-text">{{activeTranslation.checkout.total}} <b>{{price | toFixed}}{{currency.name}}</b></div>

    <div class="checkout-dialog_order-summary-bottom">

      {{selAccount.orderQty}} {{activeTranslation.checkout.product + (selAccount.orderQty > 1 ? 's': '')}}

      <button *ngIf="!showDiscountText" [ngClass]="['couponButton', showCouponInputFlag ? 'active' : '']" (click)="toggleCouponInputDisplay()">
        {{showCouponInputFlag ? 'Cancel' : 'Add coupon'}}
      </button>
      <span *ngIf="showDiscountText" class="discount-text">-{{discount}}%</span>
    </div>

    <div [ngClass]="[showCouponInputFlag && !showDiscountText ? 'active' : '']" class="checkout_code-field">
      <form [formGroup]='couponForm'>
        <input type="text" placeholder="Your coupon" formControlName="coupon">
        <small (click)="attemptToActivateCoupon()" [ngClass]='{"active": discount > 0}'>{{activeTranslation.checkout.activate}}</small>
      </form>
    </div>

  </div>

  <div class="checkout-dialog_hr"></div>

  <div class="checkout-dialog_dynamic-section">

    <ng-container *ngIf="dynamicSectionActiveView == 'info'">
      <aside>
        <img src="assets/img/3d.svg" alt="box">
        <p>{{activeTranslation.checkout.boxText}}</p>
      </aside>

      <aside>
        <img src="assets/img/lock.svg" alt="lock">
        <p>{{activeTranslation.checkout.sslText}}</p>
      </aside>
    </ng-container>

    <ng-container *ngIf="dynamicSectionActiveView == 'bitcoin'">

      <form class="email-form" [formGroup]="emailForm">

        <div>
          <span class="fa fa-times" (click)="dynamicSectionActiveView = 'info'">
            <img src="assets/img/icons/times-solid.svg" alt="close" class="icon icon--close" style="height: 13px;">
          </span>
          <p style="text-align: left;">{{activeTranslation.checkout.fillFormPrompt}}</p>
        </div>

        <div>
          <input placeholder="email" style="margin-right: 5px;" [ngClass]="{'valid':  emailForm.controls.email.valid, 'invalid':  emailForm.controls.email.invalid && emailForm.controls.email.touched}"
            formControlName="email" type="text">
          <input placeholder="full name" [ngClass]="{'valid':  emailForm.controls.fullname.valid, 'invalid':  emailForm.controls.fullname.invalid && emailForm.controls.fullname.touched}"
            formControlName="fullname" type="text">
          <br>

          <small (click)="bitcoinPayment()" [ngClass]="{'active':  emailForm.valid}"> {{activeTranslation.checkout.next}}
            <span class="fa fa-chevron-right"></span>
          </small>
        </div>

      </form>

    </ng-container>

  </div>

  <div class="checkout-dialog_hr"></div>

  <div class="checkout-dialog_payment-methods">

    <div class="payment-tile payment-tile--top" (click)="initiateStripePayment()">
      <img src="assets/img/mastercard-2.svg" alt="paymentOption">
      <img src="assets/img/maestro.svg" alt="paymentOption">
      <img src="assets/img/americanExpress.svg" alt="paymentOption">
      <img src="assets/img/visa.svg" alt="paymentOption">
    </div>

    <div class="payment-tiles-wrapper">

      <div class="payment-tile payment-tile--single-payment" style="cursor: not-allowed;">
        <img src="assets/img/bankTransferTransp.svg" alt="paymentOption"  style="cursor: not-allowed;">
      </div>

      <div class="payment-tile payment-tile--single-payment">
        <img src="assets/img/bitcoinTransp.svg" (click)="dynamicSectionActiveView == 'bitcoin' ? bitcoinPayment() : dynamicSectionActiveView = 'bitcoin'" alt="paymentOption">
      </div>

      <div class="payment-tile payment-tile--paypal">
        <img src="assets/img/paypal2.svg" (click)="onInitiatePaypalPayment()" alt="paymentOption">
      </div>

    </div>

  </div>

</div>
