@import 'styles/mixins/elements';
@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/typography';
@import 'styles/mixins/blocks';
@import 'styles/misc/';

@import 'src/styles/normalize';

body {
    font-family: 'Poppins';
    font-display: fallback;
    color: #000;
    padding-top: 95px;

    app-main {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: calc(100vh - 95px);
      justify-content: space-between;
    }
}

button {
  border-width: 0;

  &[disabled] {
    cursor: not-allowed;
  }
}

.icon {
  cursor: pointer;
  display: inline-block;

  &--close {
    float: right;
    height: 17px;
    margin-top: -4px;
  }

  &--pen {
    height: 15px;
    margin-top: -2px;
    display: inline-block;
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(177deg) brightness(111%) contrast(100%);
  }

  &--star {
    filter: invert(92%) sepia(0%) saturate(1642%) hue-rotate(151deg) brightness(89%) contrast(89%);
    height: 20px;
    display: inline-block;
    margin-right: .2rem;

    &.active {
        filter: invert(83%) sepia(67%) saturate(1715%) hue-rotate(349deg) brightness(99%) contrast(93%);
    }

    &.icon--star-small {
      height: 18px;
      margin-right: .12rem;
    }

    &.icon--star-header {
      filter: invert(45%) sepia(180%) saturate(2900%) hue-rotate(29deg) brightness(120%) contrast(150%);
      margin-top: -2px;
    }
}

  &--arrow-right {
    display: inline-block;
    height: 32px;
    margin-left: .12rem;
    margin-top: -3px;
  }

  &--dropdown {
    width: 14px;
    transition: .2s;
  }
}

.noInfo {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  margin: 3rem 0;
}

b {
  font-weight: bold;
}

.popup-overlay {
  position: fixed;
  background: transparentize($color: #102020, $amount: 0.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

@import 'src/styles/sections/homepage';

@import 'src/styles/sections/shared';

@import 'src/styles/sections/accounts';

@import 'src/styles/sections/reviews';

@import 'src/styles/sections/order-verification';

@import 'src/styles/sections/tos';