@import '../colors';

@mixin appearance ($value: none) {
  -webkit-appearance:     $value;
  -moz-appearance:        $value;
  -ms-appearance:         $value;
  -o-appearance:          $value;
  appearance:             $value;
}

@mixin qtity_btns() {
  width: 7rem;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;

  button {
    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    border-radius: .4rem;
    background: $lightGray2;
    color: $darkGray;
    font-size: 1.3rem;
    width: 36px;
    padding: 0;
    height: 33px;
  }
}

@mixin rounded_btn() {
  font-size: .7rem;
  letter-spacing: -1px;
  font-weight: bolder;
  width: 6rem;
  padding: .8rem .5rem;
  border-radius: 1.8rem;
}

@mixin rounded_btn--blue() {
  @include rounded_btn;
  color: #fff;
  background: $blue;
}

@mixin rounded_btn--gray() {
  @include rounded_btn;
  color: #000;
  background: $lightGray;
}
