<section class="payment-options">

  <ul class="payment-options-list">

    <li>
      <img src="assets/img/mastercard-2.svg" alt="paymentOption">
    </li>

    <li>
      <img src="assets/img/maestro.svg" alt="paymentOption">
    </li>

    <li>
      <img src="assets/img/bitcoinTransp.svg" alt="paymentOption">
    </li>

    <li>
      <img src="assets/img/paypalTransp.svg" alt="paymentOption">
    </li>

    <li>
      <img src="assets/img/visaTransp.svg" alt="paymentOption">
    </li>

    <li>
      <img src="assets/img/bankTransferTransp.svg" alt="paymentOption">
    </li>

    <li>
      <img src="assets/img/americanExpressTransp.svg" alt="paymentOption">
    </li>

  </ul>

</section>
